<table class="table table-condensed table-bordered border-secondary m-0 table-hover">
    <thead>
      <tr class="text-center table-success border-secondary lh-1">
        <th scope="col">Block</th>
        <th scope="col">State</th>
        <th scope="col">Dir</th>
        <th scope="col">Data</th>
      </tr>
    </thead>
    <tbody class="text-center fw-bold">
      <tr>
        <td>0</td>
        <td>M</td>
        <td>000</td>
        <td>0xYYYY</td>
      </tr>
      <tr>
        <td>1</td>
        <td>E</td>
        <td>001</td>
        <td>0xYYYY</td>
      </tr>
      <tr>
        <td>2</td>
        <td>S</td>
        <td>010</td>
        <td>0xYYYY</td>
      </tr>
      <tr>
        <td>3</td>
        <td>I</td>
        <td>011</td>
        <td>0xYYYY</td>
      </tr>
    </tbody>
  </table>
