<div class="d-flex flex-column p-1 border border-dark">
  <h6 class="text-center">Main Memory</h6>
  <table class="table table-condensed table-bordered border-secondary m-0 table-hover">
    <thead>
      <tr class="text-center table-danger border-secondary lh-1">
        <th scope="col">Dir</th>
        <th scope="col">Data</th>
      </tr>
    </thead>
    <tbody class="text-center fw-bold">
      <tr>
        <td>000</td>
        <td>0xYYYY</td>
      </tr>
      <tr>
        <td>001</td>
        <td>0xYYYY</td>
      </tr>
      <tr>
        <td>010</td>
        <td>0xYYYY</td>
      </tr>
      <tr>
        <td>011</td>
        <td>0xYYYY</td>
      </tr>
      <tr>
        <td>100</td>
        <td>0xYYYY</td>
      </tr>
      <tr>
        <td>101</td>
        <td>0xYYYY</td>
      </tr>
      <tr>
        <td>110</td>
        <td>0xYYYY</td>
      </tr>
      <tr>
        <td>111</td>
        <td>0xYYYY</td>
      </tr>
    </tbody>
  </table>
</div>